<h1>Blog Pages</h1>

# <%= @pages.first.title %>

# <% grade = 97 %>
# <% if grade >60 %>
#     You Passed!
# <% end %>

# <% 4.times do |index| %>
#     <p><%= index %> fish</p>
# <% end %> 

# <% @pages.each do |page| %>
#     <p><%= page.title %></P>
# <% end %>

# <% @pages.each do |page| %>
#     <p><%= link_to page.title, "/pages/#{page.id}" %></P>
# <% end %>

<% @pages.each do |page| %>
    <p><%= link_to page.title, page_path(page) %></P>
<% end %>

<%= link_to 'New Page', new_page_path %>